extends layout/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/404.css")

block content
    h1 404
    p Oops! The page you're looking for cannot be found.
    a(href="/") Return to Homepage
