
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/form.css")
    body
        header
            nav
                ul
                    li
                        a(href="/") Shop
                    li
                        a(href="/admin/add-product") Add Product
        main
            .form-container
                h2 Add New Product
                form(action="/admin/add-product", method="POST")
                    div
                        label.form-label(for="title") Product Title
                        input.form-control#title(type="text", name="title", placeholder="Enter product title", required)
                    div
                        label.form-label(for="price") Price
                        input.form-control#price(type="number", name="price", step="0.01", placeholder="Enter price", required)
                    div
                        label.form-label(for="description") Description
                        textarea.form-control#description(name="description", placeholder="Enter product description", required)
                    div
                        label.form-label(for="image") Image URL
                        input.form-control#image(type="url", name="image", placeholder="Enter image URL", required)
                    button(type="submit") Add Product
