extends layout/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/form.css")

block content
    .form-container
        h2 Add New Product
        form(action="/admin/add-product", method="POST")
            div
                label.form-label(for="title") Product Title
                input.form-control#title(type="text", name="title", placeholder="Enter product title", required)
            div
                label.form-label(for="price") Price
                input.form-control#price(type="number", name="price", step="0.01", placeholder="Enter price", required)
            div
                label.form-label(for="description") Description
                textarea.form-control#description(name="description", placeholder="Enter product description", required)
            div
                label.form-label(for="image") Image URL
                input.form-control#image(type="url", name="image", placeholder="Enter image URL", required)
            button(type="submit") Add Product
